* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  font-family: Helvetica Neue, Tahoma, Arial, PingFangSC-Regular, Hiragino Sans GB, Microsoft Yahei, sans-serif;
}
a {
  color: #333;
  text-decoration: none;
}
img {
  vertical-align: middle;
  width: 100%;
  height: 100%;
}
ul {
  list-style: none;
}
.ellipsis-2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
html,
body,
form {
  overflow-y: auto;
  height: 100%;
}
.ksh {
  height: 100%;
  background-size: cover;
}
body {
  font-family: 'Microsoft YaHei', 'PingFang SC', 'Arial Normal', 'Arial', 'Source Han Sans SC', 'Noto Sans CJK SC', 'WenQuanYi Micro Hei', 'sans-serif';
}
ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}
body {
  height: 100%;
  background: #150200;
  background-size: cover;
  position: relative;
  z-index: -2;
}
.head_top {
  position: relative;
}
.index_nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.index_nav li {
  font-size: 1em;
  color: #fff;
  cursor: pointer;
  text-shadow: 0 6px 8px #4d0700;
  font-size: 0.9375vw;
  font-weight: 700;
  height: 4.21875vw;
  line-height: 2.8125vw;
  text-align: center;
}
.index_nav .l_left {
  height: 2.8125vw;
}
.index_nav .r_right {
  height: 2.8125vw;
}
.index_nav li:hover {
  opacity: 1;
}
.lone {
  background: url(../redimg/u170.svg) no-repeat;
  text-align: left;
  margin-top: 0.52083333vw;
}
.ltwo,
.lthree,
.lfour,
.lfive {
  background: url(../redimg/u166.svg) no-repeat;
  margin-left: -2.1875vw;
  margin-top: 0.52083333vw;
}
.rfive {
  background: url(../redimg/u165.svg) no-repeat;
  text-align: left;
  margin-top: 0.52083333vw;
}
.rtwo,
.rthree,
.rfour,
.rone {
  background: url(../redimg/u161.svg) no-repeat;
  margin-right: -2.1875vw;
  margin-top: 0.52083333vw;
}
.rone {
  margin-left: -1.04166667vw;
}
.m_middle {
  flex: 4;
  height: 4.21875vw;
  background: url(../redimg/u615.svg) no-repeat;
  background-size: 100%;
  margin-left: -2.44791667vw;
  margin-right: -1.09375vw;
  font-size: 1.5625vw !important;
}
.m_middle span {
  font-style: italic;
  font-size: 2.5vw;
}
.l_left {
  flex: 1;
}
.r_right {
  flex: 1;
}
.visual {
  height: calc(100% - 81px);
  display: flex;
  justify-content: space-between;
  padding: 0.52083333vw;
}
.visual_left {
  flex: 3;
  height: 100%;
  margin: 0;
  width:100%;
  overflow: hidden;
}
.visual_con {
  flex: 4;
  height: 100%;
  margin: 0 0.78125vw;
}
.visual_right {
  flex: 3;
  height: 100%;
}
.visual_box {
  background-color: rgba(121, 20, 28, 0.8);
  height: 32%;
  width: 100%;
  -webkit-box-shadow: 0px 0px 10px rgba(255, 83, 70, 0.8);
  box-shadow: 0px 0px 10px rgba(255, 83, 70, 0.8);
  margin-top: 0.78125vw;
}
.visual_box .lineback {
  width: 100%;
  height: 99%;
  padding: 0.41666667vw;
  background-image: url(../redimg/lefttop.png), url(../redimg/righttop.png), url(../redimg/leftbottom.png), url(../redimg/rightbottom.png);
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
  background-position: top left, top right, bottom left, bottom right;
  z-index: 1;
  box-sizing: border-box;
  color: #66FFFF;
}
.visual_box .lineback .visual_title {
  position: relative;
  height: 2.34375vw;
  background: url(../redimg/titlebg.png) no-repeat bottom left;
  margin-left: 0.78125vw;
}
.visual_box .lineback .visual_title span {
  line-height: 2.34375vw;
  color: #fff;
  font-size: 0.9375vw;
}
.condig {
  position: relative;
  width: 99%;
  height: 100%;
}
.digital {
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 4.27083333vw;
  text-align: center;
  border-radius: 5px;
}
.nitem {
  position: relative;
  margin: 8px 3px 0;
  display: inline-block;
  width: 2.60416667vw;
  height: 3.4375vw;
  /*background-color: #fe4e4e;*/
  background: -webkit-linear-gradient(#810710, #c12616, #810710);
  /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(#810710, #c12616, #810710);
  /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(#810710, #c12616, #810710);
  /* Firefox 3.6 - 15 */
  background: linear-gradient(#810710, #c12616, #810710);
  /* 标准的语法 */
  border-radius: 3px;
  border: 1px solid #ff732e;
}
.under,
.on {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  line-height: 3.4375vw;
  color: #ffd776;
  font-size: 1.97916667vw;
  border-radius: 3px;
  overflow: hidden;
  text-align: center;
}
.nbottom {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 50%;
  line-height: 0;
  overflow: hidden;
  /*不加这行就不会隐藏掉上面那半个数字部分*/
  background: -webkit-linear-gradient(#c12616, #810710);
  /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(#c12616, #810710);
  /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(#c12616, #810710);
  /* Firefox 3.6 - 15 */
  background: linear-gradient(#c12616, #810710);
  /* 标准的语法 */
}
.animate {
  animation-name: flip;
  animation-duration: 1s;
  animation-direction: normal;
  animation-fill-mode: forwards;
}
.animate1 {
  animation-delay: 0.3s;
  -webkit-animation-delay: 0.3s;
}
.animate2 {
  animation-delay: 0.6s;
}
.animate3 {
  animation-delay: 0.9s;
}
.animate4 {
  animation-delay: 1.2s;
}
.animate5 {
  animation-delay: 1.5s;
}
.animate6 {
  animation-delay: 1.8s;
}
.animate7 {
  animation-delay: 2.1s;
}
.animate8 {
  animation-delay: 2.4s;
}
.animate9 {
  animation-delay: 2.7s;
}
@keyframes flip {
  from {
    transform: rotateX(180deg);
    width: 100%;
  }
  to {
    transform: rotateX(0);
  }
}
.dline {
  height: 2px ;
  width: 100%;
  background: #651016;
  opacity: 0.9;
  position: absolute;
  top: 51%;
  left: 0;
  z-index: 9999;
}
.sfzcll {
  position: relative;
  height: calc(100% - 2.34375vw);
}
.sfzcll a {
  width: 32%;
  text-align: center;
  line-height: 25px;
  color: #fff;
  display: inline-block;
}
.sfzcll_pos_box {
  width: 99.8%;
  height: calc(99% - 30px);
}
.sfzcll_box {
  width: 100%;
  height: calc(100% - 15px);
  background: rgba(15, 47, 72, 0.8);
  border: 1px solid #1380bd;
  position: relative;
  margin-bottom: 15px;
}
.sfzcll_box:last-of-type {
  margin: 0;
}
.sfzcll_box .sfzcll_bkJk {
  position: absolute;
}
.sfzcll_box .sfzcll_bkJk:first-of-type {
  top: -2px;
  left: -2px;
}
.sfzcll_box .sfzcll_bkJk:nth-child(2) {
  top: -2px;
  right: -2px;
}
.sfzcll_box .sfzcll_bkJk:nth-child(3) {
  bottom: -2px;
  right: -2px;
}
.sfzcll_box .sfzcll_bkJk:nth-child(4) {
  bottom: -2px;
  left: -2px;
}
.sfzcll_box label {
  width: 33%;
  color: #fff;
  text-align: center;
  float: left;
}
.sfzcll_box label img {
  width: 23px;
  height: 23px;
  margin-right: 5px;
  margin-top: -2px;
}
.sfzcll_box .sfzcll_smallBk {
  width: 49%;
  height: 100%;
  float: left;
  padding: 2px 5px;
}
.sfzcll_box .sfzcll_smallBk .ygl {
  color: #00ffc6;
  line-height: 22px !important;
  text-align: left;
  padding: 5px;
  background-color: #620200;
}
.sfzcll_box .sfzcll_smallBk .ygh {
  color: #ffe400;
}
.sfzcll_smallBk {
  width: 50%;
  height: 57.9%;
  float: left;
  padding: 2px 5px;
}
.sfzcll_smallBk > div {
  height: 100%;
  background-size: 100% 100%;
  text-align: center;
}
.sfzcll_smallBk .ygl {
  color: #00ffc6;
  line-height: 22px !important;
  text-align: left;
  padding: 5px;
  background: #811d25;
  border-top: 1px solid #c34d4d;
  border-bottom: 1px solid #c34d4d;
  margin-top: 6px;
  clear: both;
  background-image: url(../redimg/cbg.png), url(../redimg/cbg.png), url(../redimg/cbg.png), url(../redimg/cbg.png);
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
  background-position: top left, top right, bottom left, bottom right;
  z-index: 1;
  box-sizing: border-box;
}
.sfzcll_smallBk .ygl h6 {
  color: #fff;
  font-size: 14px;
  margin-top: 0.52083333vw;
  margin-left: 0.52083333vw;
}
.sfzcll_smallBk .ygl .con {
  height: 90%;
  width: 100%;
  background: url(../redimg/databg1.png) no-repeat bottom;
}
.ygl span {
  font-size: 18px;
  font-weight: bold;
  padding: 0;
  color: #66ffff;
  margin-left: 0.52083333vw;
}
.yellow {
  color: #FF0 !important;
}
.green {
  color: #13ce4c !important;
}
.visual_left .sfzcll .sfzcll_smallBk .ygh {
  color: #ffe400;
}
.visual_conTop {
  height: 100%;
  margin-bottom: 0.52083333vw;
  padding-top: 0.52083333vw;
}
.visual_conTop .map_m {
  width: 35.83333333vw;
  height: calc(100% - 272px);
  /* background: url(../redimg/map.png) top no-repeat; */
  padding: 20px;
  margin: 10px;
  background-size: 100% 100%;
}
.visual_conTop .map_m p {
  color: #66ffff;
  line-height: 1.5625vw;
  font-size: 0.83333333vw;
}
.visual_con .visual_conTop .visual_conTop_box {
  height: 100%;
  padding: 0 3px;
}
.visual_con .visual_conTop .visual_conTop1 {
  width: 20%;
  height: 100%;
  float: left;
}
.visual_con .visual_conTop .visual_conTop2 {
  width: 32%;
  height: 100%;
  float: left;
  margin: 5px;
}
.visual_right {
  width: 29.2%;
  height: 100%;
  float: right;
}
.visual_con .visual_conTop .visual_conTop_box > div {
  height: 100%;
}
.visual_con .visual_conTop .visual_conTop_box > div h3 {
  color: #fff;
  font-size: 0.83333333vw;
  padding: 0.83333333vw 0 0 1.04166667vw;
}
.visual_con .visual_conTop .visual_conTop_box > div p {
  width: 33%;
  float: left;
  line-height: 4.42708333vw;
  color: #20dbfd;
  text-shadow: 0 0 25px #00d8ff;
  font-size: 2.39583333vw;
  font-family: 'yjsz';
  text-align: right;
}
.visual_con .visual_conTop .visual_conTop_box > div .conTop_smil {
  width: 67%;
  height: 3.125vw;
  float: left;
  padding-top: 1.19791667vw;
}
.visual_con .visual_conTop .visual_conTop_box > div .conTop_smil a {
  display: block;
  line-height: 1.04166667vw;
  text-align: left;
  color: #fff;
  padding-left: 0.46875vw;
}
.visual_con .visual_conTop .visual_conTop_box > div .conTop_smil span {
  width: 1.66666667vw;
  display: inline-block;
  margin-left: 3px;
}
.visual_con .visual_conTop .visual_conTop_box > div .conTop_smil a.sz {
  color: #fe3e12;
}
.visual_con .visual_conTop .visual_conTop_box > div .conTop_smil a.xd {
  color: #12fe81;
}
.visual_con .visual_conTop .visual_conTop_box > div .conTop_smil a.null {
  visibility: hidden;
}
.visual_con .visual_conBot {
  height: 100%;
  margin-top: 0.67708333vw;
  background-color: rgba(121, 20, 28, 0.8);
  -webkit-box-shadow: 0px 0px 10px rgba(255, 83, 70, 0.8);
  box-shadow: 0px 0px 10px rgba(255, 83, 70, 0.8);
  background-size: 100% 100%;
  position: relative;
}
.visual_con .visual_conBot > img {
  position: absolute;
  width: 25px;
  height: 25px;
}
.visual_con .visual_conBot .visual_conBot_l {
  position: absolute;
  left: 0;
  top: 0;
}
.visual_con .visual_conBot .visual_conBot_2 {
  position: absolute;
  right: 0;
  top: 0;
}
.visual_con .visual_conBot .visual_conBot_3 {
  position: absolute;
  right: 0;
  bottom: 0;
}
.visual_con .visual_conBot .visual_conBot_4 {
  position: absolute;
  left: 0;
  bottom: 0;
}
.visual_con .visual_conBot .visual_chart {
  width: 100%;
  height: 100%;
  position: absolute;
}
.visual_con .visual_conBot .visual_chart_text {
  color: #fff;
  position: absolute;
  top: 15px;
  left: 15px;
  z-index: 99;
}
.visual_con .visual_conBot .visual_chart_text h1 {
  font-size: 26px;
  margin-bottom: 6px;
}
.visual_con .visual_conBot .visual_chart_text h2 {
  font-size: 20px;
}
.visual_con .visual_conBot .visual_conBot_bot {
  width: calc(100% - 8px);
  height: 180px;
  background: rgba(16, 54, 87, 0.5);
  border: 1px solid #345f92;
  position: absolute;
  bottom: 4px;
  left: 4px;
  z-index: 99;
}
.mt3 {
  width: 100%;
  height: 12.29166667vw;
  display: flex;
  justify-content: space-between;
  padding: 0.52083333vw 0.78125vw;
}
.mt3_one,
.mt3_two,
.mt3_three {
  width: 32%;
  height: 12.08333333vw;
  background: url(../redimg/middletop1.png) no-repeat;
  background-size: 100% 100%;
  color: #fff;
  padding: 0.26041667vw;
  padding-top: 0.78125vw;
  position: relative;
  border-radius: 0.26041667vw;
}
.mt3_one p,
.mt3_two p,
.mt3_three p {
  height: 1.04166667vw;
  line-height: 1.04166667vw;
  margin-left: 0.52083333vw;
  margin-top: 0.52083333vw;
  font-size: 0.72916667vw;
}
.mt3_one p span,
.mt3_two p span,
.mt3_three p span {
  font-size: 1.97916667vw;
  font-weight: bold;
  margin: 1.04166667vw 0;
}
.mt3_one .gci,
.mt3_two .gci,
.mt3_three .gci {
  width: 80px;
  height: 74px;
  background: url(../redimg/circle2.gif) no-repeat;
  position: absolute;
  bottom: 10px;
  right: 10px;
}
.mt3_two {
  background: url(../redimg/middletop2.png) no-repeat;
}
.mt3_three {
  background: url(../redimg/middletop3.png) no-repeat;
}
.fhy {
  background: -webkit-linear-gradient(270deg, #b42c2c 0%, #b42c2c 0%, #811d25 100%, #811d25 100%);
  background: linear-gradient(180deg, #b42c2c 0%, #b42c2c 0%, #811d25 100%, #811d25 100%);
  width: 48%;
  height: 38%;
  margin: 1%;
  border-radius: 5px;
  float: left;
  position: relative;
}
.fhy p {
  margin-left: 1.04166667vw;
  margin-top: 0.52083333vw;
  color: #fff;
  float: left;
  width: 58%;
}
.fhytopl {
  border-width: 0px;
  position: absolute;
  left: 0px;
  top: -3px;
  width: 100%;
  height: 11px;
  opacity: 0.5;
}
.fhytop2 {
  border-width: 0px;
  position: absolute;
  left: 0px;
  bottom: -2px;
  width: 100%;
  height: 11px;
  opacity: 0.4;
}
.political {
  padding-top: 0.78125vw;
  padding-left: 1.04166667vw;
}
.circle {
  width: 170px;
  height: 170px;
  background: url(../redimg/circle.png) top no-repeat;
  background-size: cover;
  position: relative;
  float: left;
}
.circle1 {
  position: absolute;
  top: 21px;
  left: 21px;
  animation: mymove 5s infinite 800ms 0 ease;
  animation: mymove 5s linear infinite;
  z-index: 99;
}
@-webkit-keyframes mymove {
  0% {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.potext {
  position: absolute;
  top: 21px;
  left: 41px;
  z-index: 100;
  text-align: center;
}
.podata {
  position: relative;
  float: right;
  width: calc(100% - 170px);
  height: 200px;
}
.ap {
  width: 90px;
  height: 200px;
  position: absolute;
  top: -15px;
  left: 20px;
}
.bzdata {
  background: url(../redimg/water1.gif) bottom no-repeat;
  margin-top: 5px;
  width: 86px;
  height: 110px;
}
.aptop {
  font-size: 30px;
  font-weight: bold;
}
.apbot {
  text-align: center;
}
.ap2 {
  width: 90px;
  height: 200px;
  position: absolute;
  top: -15px;
  left: 130px;
}
.ap3 {
  width: 90px;
  height: 200px;
  position: absolute;
  top: -15px;
  left: 240px;
}
.antm,
.antm2,
.antm3,
.antm4 {
  float: right;
  width: 54px;
  height: 54px;
  margin-top: 5px;
  margin-right: 10px;
  position: relative;
}
.antm {
  background: url(../redimg/antmbg1.png) no-repeat right top;
}
.antm2 {
  background: url(../redimg/antmbg2.png) no-repeat right top;
}
.antm3 {
  background: url(../redimg/antmbg3.png) no-repeat right top;
}
.antm4 {
  background: url(../redimg/antmbg4.png) no-repeat right top;
}
.person {
  font-size: 0.625vw;
  position: absolute;
  right: 8px;
  top: 8px;
}
.rotas {
  position: absolute;
  right: 11px;
  top: 10px;
  width: 34px;
  height: 34px;
  animation: mymove 5s infinite 800ms 0 ease;
  animation: mymove 5s linear infinite;
  z-index: 89;
}
.switch {
  color: #06F;
  background: none !important;
  border: 0;
}
.f32 {
  font-size: 1.5625vw;
  font-weight: 700;
  color: #ffe71e;
}
.fbold {
  font-weight: bold;
  font-size: 0.83333333vw;
}
.changecolor {
  display: flex;
  justify-content: flex-end;
  width: 98%;
}
.changecolor .cblue {
  cursor: pointer;
  width: 0.9375vw;
  height: 0.83333333vw;
  background-color: #083272;
  border: 1px solid #ccc;
  margin-right: 20px;
}
.changecolor .cgreen {
  cursor: pointer;
  width: 0.9375vw;
  height: 0.83333333vw;
  background-color: #202f0a;
  border: 1px solid #ccc;
  margin-right: 20px;
}
.changecolor .cred {
  cursor: pointer;
  width: 0.9375vw;
  height: 0.83333333vw;
  background-color: #71080f;
  border: 1px solid #ccc;
  margin-right: 20px;
}
